<h1>Demo 1</h1>
<%= react_component "InteractiveExample", {} %>

<%#
  react_component "ComponentName", {props}
  calls
  React.renderComponent(
    React.createElement("InteractiveExample", props />)
  );
%>

<h1>Demo 2</h1>
<%= react_component "Demo2", {} %>
