<h1>Dex Demos</h1>
<ul>
  <li><a href="/pages/dex">Drag and Drop</a></li>
  <li><a href="/pages/demo1">Demo 1</a></li>
  <li><a href="/pages/breaking">Breaking News</a></li>
  <li><a href="/pages/playbox">Play Box</a></li>
  <li><a href="/pages/bluebird">BlueBird</a></li>
</ul>

<h2>Daily Demo - Blue Bird</h2>
<%= react_component 'BlueBird' %>
